* {
    padding: 0;
    margin: 0;
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}

.header {
    background-color: rgb(255, 255, 255);
    grid-column: 2 / 3;
    padding-left: 30px;
    padding-top: 15px;
    box-shadow: 0px 3px 0.25rem #00000031;
    position: relative;
}

.header .top-level {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 30px;
}

form {
    text-align: left;
}

input {
    border: 0.1rem #e2e8f0 solid;
    background: #e2e8f0;
    border-radius: 0.75rem;
    width: 25rem;
    padding: 0.25rem 0;
}

.header .second-level {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.greeting {
    display: flex;
}

.greeting .first-level {
    font-size: 0.5rem;
}

.placeholder-image {
    background-color: purple;
    height: 1rem;
    width: 1rem;
}

.welcome-message {
    text-align: left;
}

.links {
    display: flex;
    justify-content: space-around;
}

.links button {
    border: 0.1rem rgb(226, 232, 240) solid;
    border-radius: 1rem;
    color: white;
    background-color: rgb(25, 146, 212);
    width: 5rem;
}

.sidebar {
    background-color: rgb(25, 146, 212);
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}

.logo {
    text-align: left;
    padding: 10px;
    margin-bottom: 30px;
    color: white;
}


.side-bar-links {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    background: white;
    height: 300px;
}

.settings {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    background: white;
    height: 100px;
}

.main-contents {
    background: rgb(226, 232, 240);
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.article-title {
    text-align: left;
    margin-left: 10px;
    margin-top: 30px;

}

.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 10px;
    margin-bottom: 40px;
}

.articles .title{
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

.card {
    background-color: white;
    height: 200px;
    border-radius: 10px;
}

.card p {
    padding: 15px;
    text-align: left;
    color: black;
    font-size: 15px;
}

.annoncements-title {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 30px;
}

.announcements-content {
    background-color: white;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.trending-title {
    text-align: left;
    margin-bottom: 10px;
}

.trending-content {
    background-color: white;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
}