:root {
    --header-backgroundcolor: ;
    --sidebar-backgroundcolor: ;
    --body-backgroundcolor: ;
    --card-backgroundcolor: ;
    --card-title-font-size: ;
    --card-content-font-size: ;
    --announcements-font-size: 0.5rem;
    --card-content-font-color: #6d6d6d;
    --font: Roboto;
    --card-margin-left: 15px;
    --main-contents-side-bar: 20px;
    --font-bold: Roboto-bold;
    --font-medium: Roboto-medium;
}

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-bold;
    src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-medium;
    src: url(./fonts/Roboto-Medium.ttf)
}

input,
p,
.dashboard,
.links,
.welcome-message,
.article-title,
.announcements-title,
.trending-title {
    font-family: var(--font);
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, minmax(11rem, 1fr)) 4fr;
    min-height: 100vh;
}

.header {
    background-color: rgb(255, 255, 255);
    grid-column: 2 / 3;
    padding-left: 30px;
    padding-top: 15px;
    box-shadow: 0px 3px 0.25rem #00000031;
    position: relative;
}

.header .top-level {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    margin-bottom: 30px;
}

.search-bar{
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
}

form {
    text-align: left;
    width: 100%;
}

input {
    border: 0.1rem #e2e8f0 solid;
    background: #e2e8f0;
    border-radius: 0.75rem;
    width: clamp(1%, 32rem, 100%);
    padding: 0.25rem 0;
}

.header .second-level {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.greeting {
    display: flex;
}

.profile-picture {
    vertical-align: middle;
    height: 5rem;
    width: auto;
    border-radius: 5rem;
    border: 0.1rem rgb(173, 173, 173) solid;
    margin-right: 15px;
    margin-bottom: 15px;
}

.placeholder-image {
    vertical-align: middle;
    height: 2.5rem;
    width: auto;
    border-radius: 5rem;
    border: 0.1rem rgb(173, 173, 173) solid;
    margin-right: 10px;
}

.general-container {
    display: flex;
    align-items: center;
}

.welcome-message {
    text-align: left;
    font-family: var(--font-bold);
}

.first-level {
    font-size: 0.75rem;
}

.second-level {
    font-size: 1.5rem;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-right: var(--main-contents-side-bar);
    align-items: center;
}

.links button {
    border: 0.1rem rgb(226, 232, 240) solid;
    border-radius: 1rem;
    color: white;
    background-color: rgb(25, 146, 212);
    width: 5rem;
    height: 2rem;
    font-weight: bold;
}

.sidebar {
    background-color: rgb(25, 146, 212);
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    padding-left: 10px;
}

.sidebar p {
    font-family: var(--font-medium);
}

.dash {
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
    padding-right: 0.5rem;
}

.magnify, .bell {
    fill: black;
    min-height: 25px;
    min-width: 25px;
    max-height: 25px;
    max-width: 25px;
    vertical-align: middle;
    padding-right: 1rem;
}

.bell {
    padding-left: 1rem;
}

.sidebar svg:not(.dash), .search-bar svg:not(.magnify),
.icons svg:not(.bell) {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    fill: white;
    padding-right: 1rem;
}

.logo {
    text-align: left;
    padding: 10px 0 10px 0 ;
    margin-bottom: 30px;
    color: white;
}

.dashboard {
    font-family: var(--font-medium);
    font-size: 1.2rem;
}

.side-bar-links {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.settings {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.sidebar p {
    color: white;
    padding-bottom: 1rem;
}

.article-title {
    margin-left: 30px;
}

.main-contents {
    background: rgb(226, 232, 240);
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: 3fr repeat(1, minmax(16rem, 1fr));
}

[class*="-title"] {
    text-align: left;
    padding-top: 30px;
    font-family: var(--font-medium);
    font-size: 1.2rem;

}

.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    column-gap: 20px;
    row-gap: 20px;
    padding: 10px 20px;
    margin-bottom: 40px;
}

p.title {
    text-align: left;
}

.articles p.title {
    padding-top: 1rem;
    font-size: 1rem;
    font-family: var(--font-medium);
}

.card {
    background-color: white;
    height: clamp(7rem,9rem, 10rem);
    width: auto;
    border-radius: 10px;
    box-shadow: 0px 3px 0.25rem #00000031;
    padding: 20px;
    position: relative;
    background: rgb(25, 146, 212);
    background: linear-gradient(90deg, rgb(74, 189, 251) 2%, white 2%, white 100%);
}

.card p:not(p.title) {
    font-size: 0.8rem;
}

.card-icons {
    display: flex;
    align-items: center;
    justify-content: right;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 1rem;
}

.card-icons svg {
    padding-top: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    padding-right: 1rem;
}

.announcements,
.trending {
    background-color: white;
    height: 200px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 3px 0.25rem #00000031;
    padding: 15px 25px;
    position: relative;
}

.trending {
    height: 230px;
}

.main-contents-side-bar {
    margin-right: var(--main-contents-side-bar);
    padding-left: 10px;
}

hr {
    margin-bottom: 10px;
}


.main-contents-side-bar p:not(p.title),
.card p:not(p.title) {
    text-align: left;
    color: var(--card-content-font-color)
}

.main-contents-side-bar .announcements p:not(p.title) {
    font-size: var(--announcements-font-size);
}

.main-contents-side-bar .trending p:not(p.title) {
    font-size: 0.8rem
}

.site-maintenance,
.community-share-day,
.updated-privacy-policy {
    padding-bottom: 10px;
}

.trending-content {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}