:root {
    --header-backgroundcolor: ;
    --sidebar-backgroundcolor: ;
    --body-backgroundcolor: ;
    --card-backgroundcolor: ;
    --card-title-font-size: ;
    --card-content-font-size: ;
    --announcements-font-size: 0.5rem;
    --card-content-font-color: #6d6d6d;
    --font: ;
    --card-margin-left: 15px;
}

@font-face {
    font-family: Roboto;
    src: url();
}

* {
    padding: 0;
    margin: 0;
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}

.header {
    background-color: rgb(255, 255, 255);
    grid-column: 2 / 3;
    padding-left: 30px;
    padding-top: 15px;
    box-shadow: 0px 3px 0.25rem #00000031;
    position: relative;
}

.header .top-level {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 30px;
}

form {
    text-align: left;
}

input {
    border: 0.1rem #e2e8f0 solid;
    background: #e2e8f0;
    border-radius: 0.75rem;
    width: 25rem;
    padding: 0.25rem 0;
}

.header .second-level {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.greeting {
    display: flex;
}

.greeting .first-level {
    font-size: 0.5rem;
}

.placeholder-image {
    background-color: purple;
    height: 1rem;
    width: 1rem;
}

.welcome-message {
    text-align: left;
}

.links {
    display: flex;
    justify-content: space-around;
}

.links button {
    border: 0.1rem rgb(226, 232, 240) solid;
    border-radius: 1rem;
    color: white;
    background-color: rgb(25, 146, 212);
    width: 5rem;
}

.sidebar {
    background-color: rgb(25, 146, 212);
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}

.logo {
    text-align: left;
    padding: 10px;
    margin-bottom: 30px;
    color: white;
}


.side-bar-links {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.settings {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.sidebar p {
    color: white;
    padding-bottom: 1rem;
}

.main-contents {
    background: rgb(226, 232, 240);
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

[class*="-title"] {
    text-align: left;
    padding-top: 30px;

}

.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 10px;
    margin-bottom: 40px;
}

p.title {
    text-align: left;
}

.articles p.title{
    font-size: 20px;
}

.card {
    background-color: white;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 3px 0.25rem #00000031;
    padding: 20px;
    position: relative;
}

.card p:not(p.title) {
    font-size: 15px;
}

.announcements, .trending {
    background-color: white;
    height: 300px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 35px;
    box-shadow: 0px 3px 0.25rem #00000031;
    padding: 15px;
    position: relative;
}

 .main-contents-side-bar p:not(p.title), .card p:not(p.title) {
    text-align: left;
    color: var(--card-content-font-color)
 }

  .main-contents-side-bar p:not(p.title) {
    font-size: var(--announcements-font-size);
  }

  .site-maintenance, .community-share-day, 
  .updated-privacy-policy {
    padding-bottom: 10px;
  }

  .trending-content {
    display: flex;
    padding-bottom: 10px;
  }